<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <hr size="20">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4">
                <p>关于我们</p>
                <ul class="list-inline">
                    <li class="btn-success">什么是心灵测试?</li>
                    <li class="btn-info">什么是锦囊妙计？</li>
                    <li class="btn-danger">我是谁？</li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <p>友情链接</p>
                <ul class="list-inline">
                    <li><a target="_blank" href="https://www.hymzw.org">华严妙智网</a></li>
                    <li><a target="_blank" href="http://fofa.org.cn">佛法网</a></li>
                    <li><a target="_blank" href="http://www.rulaizang.cn">如来藏网</a></li>
                </ul>
            </div>
            <div class="col-sm-4 col-md-4">
                <p class="text-muted">&copy; 2019 无忧健康</p>
            </div>
        </div>
    </div>
</footer>