<!DOCTYPE html>
<html lang="zh-cn"  xmlns:th="http://www.thymeleaf.org" >
<head th:include="common/header :: head('佛典故事')" />
<body>
<header th:include="common/header :: navbar" />
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active">佛典故事</li>
    </ol>

    <ol>
        <li><a href="/fodian/view/1" target="_blank">丑女</a></li>
        <li><a href="/fodian/view/2" target="_blank">自作其业、自受其报</a></li>
        <li><a href="/fodian/view/3" target="_blank">孝养父母——佛于忉利天上位母摩耶夫人说法缘</a></li>
        <li><a href="/fodian/view/4" target="_blank">自咒自受——微妙比丘尼品第十六</a></li>
        <li><a href="/fodian/view/5" target="_blank">孝养父母——波罗奈国有一长者子共天神感王行孝缘</a></li>
        <li><a href="/fodian/view/6" target="_blank">供佛功德——波罗奈人身贫供养品</a></li>
        <li><a href="/fodian/view/7" target="_blank">弃老国缘</a></li>
        <li><a href="/fodian/view/8" target="_blank">忍辱——忘恩负义</a></li>
        <li><a href="/fodian/view/9" target="_blank">布施——智慧护眷属德被众生</a></li>
        <li><a href="/fodian/view/10" target="_blank">供佛功德——须曼花衣随身产缘</a></li>
        <li><a href="/fodian/view/11" target="_blank">持戒——童子持戒守信获宝</a></li>
        <li><a href="/fodian/view/12" target="_blank">依自业力活——波斯匿王女善光缘</a></li>
        <li><a href="/fodian/view/13" target="_blank">妄语——旃阇摩暴志谤佛</a></li>
        <li><a href="/fodian/view/14" target="_blank">持戒——佛为猪比丘说利养灾患缘</a></li>
        <li><a href="/fodian/view/15" target="_blank">救生——沙弥救蚁子水灾得长命报缘</a></li>
        <li><a href="/fodian/view/16" target="_blank">爱别离——丧子发狂</a></li>
        <li><a href="/fodian/view/17" target="_blank">精进——佛以岸喻度难陀比丘</a></li>
        <li><a href="/fodian/view/18" target="_blank">持戒——贫人守戒修善免难得福</a></li>
        <li><a href="/fodian/view/19" target="_blank">供佛功德——海生商主缘</a></li>
        <li><a href="/fodian/view/20" target="_blank">持戒——兄戒行贞净不犯淫乱</a></li>
        <li><a href="/fodian/view/21" target="_blank">供佛功德——宝手比丘缘</a></li>
    </ol>
</div>
<footer th:include="common/footer :: footer" />
</body>
</html>